
<style>
    #footer {
        background-color: aquamarine;
        color: coral;
        clear: both;
        text-align: center;
        padding: 5px;
    }
</style>
<div id = "footer">
    Service Desk Online, LLC. Project 2
</div>
</body>
</html>

</body>
</html>
