<!DOCTYPE html>
<html>
<head>
    <% include partials/header %>
    <h1>About Us</h1>
</head>
<body>
Welcome to the neighborhood!
<br><strong>We have a new state-of-the-art mail system!</strong><br />
<br />
<br />
Our new mail system allows your packages' safe keeping with...
<ol>
    <li>
        <strong>Tracking monitoring.</strong>
    </li>
    </br>
    <li>
        <strong>Listings of drivers delivering your packages for added security.</strong>
    </li>
    </br>
    <li>
        <strong>Confirmation of acceptance by email to both our recipients here and the sender.</strong>
    </li>
</ol>
<br />
For any questions, contact the front desk!
<br />
<strong>Service Desk</strong>
<br />
(707)SERVICE
<br />
(707)737-8423
<br />
<br />
</body>
<% include partials/footer %>
</html>